<%
var site_name = "すぐくる";
var css_main = "./../css/main.css";
var js_main = "./../js/main.js";
var js_plugins= "./../js/main.plugins.js";
var js_vendor= "./../js/main.vendor.js";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../common/head %>
</head>
<body>
  <% include ./../common/header %>
  <% //include ./../common/nav %>
  <main>
    <article>
      <h1>新着商品</h1>
      <p>あうえおあ</p>
      <h2>テスト</h2>
    </article>
    <% include ./../common/aside %>
  </main>
  <% include ./../common/footer %>
  <% include ./../common/script %>
</body>
</html>
