<%
var site_name = "すぐくる";
var css_main = "./../css/main.css";
var js_main = "./../js/main.js";
var js_plugins = "./../js/plugins.js";
var js_vendor = "./../js/vendor.js";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../common/head %>
</head>
<body>
<% include ./../common/header %>
<% //include ./../common/nav  %>
<!-- flexslider -->
<div class="flexslider">
  <ul class="slides">
    <li><img src="./../img/slideImg/slide04.jpg" alt=""></li>
    <li><img src="./../img/slideImg/slide05.jpg" alt=""></li>
    <li><img src="./../img/slideImg/slide06.jpg" alt=""></li>
  </ul>
</div>
<!-- / flexslider -->
<main>
  <article>
    <div class="itemLists container-fluid">
      <div class="itemList row">
        <!-- movie -->
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <section class="movie over">
            <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/jbDqJ-Evb9U?rel=0&amp;controls=0&amp;showinfo=0&fs=0&controls=0&autohide=2&vq=hd1080"
                    frameborder="0" allowfullscreen></iframe>
          </section>
        </div>
        <!-- / movie -->
        <!-- news -->
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <h2>NEWS</h2>
          <dl>
            <dt>2015.08.07</dt>
            <dd><a href="http://www.emme.jp/?p=1364">夏季・休業期間のお知らせ</a></dd>
            <dt>2015.05.01</dt>
            <dd><a href="http://www.emme.jp/?p=1351">NEWタンポナートシリーズ一部プライス　変更のお知らせ</a></dd>
            <dt>2015.04.28</dt>
            <dd><a href="http://www.emme.jp/?p=1344">GW休業日のお知らせ</a></dd>
          </dl>
        </div>
        <!-- / news -->
        <!-- recommend_item -->
        <div class="itemList_item recommendItem col-lg-3 col-md-3 col-sm-4">
          <h2>オススメ商品</h2>
          <a href="#" class="itemList_item_checkNow">check now</a>
          <a href="#">
            <img src="./../img/stationery/_recommend01.jpg" alt="" class="img-responsive recommendImg"/>
          </a>

          <p class="itemList_item_caption">LEON 6月号に掲載。<br>白鳥缶切</p>
        </div>
        <div class="itemList_item recommendItem col-lg-3 col-md-3 col-sm-4">
          <h2>オススメ商品</h2>
          <a href="#" class="itemList_item_checkNow">check now</a>
          <a href="#">
            <img src="./../img/stationery/_recommend02.jpg" alt="" class="img-responsive recommendImg"/>
          </a>

          <p class="itemList_item_caption">Begin 6月号に掲載。<br>typewriter NOTES</p>
        </div>
        <!-- / recommend_item -->
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item01</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_01.jpg" alt="" class="img-responsive"/>
            </div>

            <div class="itemList_item_detail">
              <h3 class="itemList_item_name">『夜の木』レターセット ＜からみあう木＞</h3>

              <div class="itemList_item_price">Price：¥ 540</div>
            </div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item02</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_02.jpg" alt="" class="img-responsive"/>
            </div>

            <h3 class="itemList_item_name">CHARKHA×nakaban 引き出すカード＆封筒</h3>

            <div class="itemList_item_price">Price：¥ 194</div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item03</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_03.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">こけし通信筒（菜の花）</h3>

            <div class="itemList_item_price">Price：¥ 558</div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item04</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_04.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">CHARKHA × nakaban レターセット（antibes）</h3>

            <div class="itemList_item_price">Price：¥ 1296</div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item05</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_05.jpg" alt="" class="img-responsive"/>
            </div>
            <div class="itemList_item_detail">
              <h3 class="itemList_item_name">CHARKHA × nakaban レターセット（late morning）</h3>

              <div class="itemList_item_price">Price：¥ 1296</div>
            </div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item06</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_06.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">武井武雄「鳥遣いの乙女」三つ折りカード+封筒セットA</h3>

            <div class="itemList_item_price">Price：¥ 972</div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item07</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_07.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">武井武雄「鳥遣いの乙女」三つ折りカード+封筒セットB</h3>

            <div class="itemList_item_price">Price：¥ 972</div>
          </a>
        </div>
        <div class="itemList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item08</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_08.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">アラスカ文具店 図形レターセット（青・赤）</h3>

            <div class="itemList_item_price">Price：¥ 367</div>
          </a>
        </div>
      </div>
    </div>
  </article>
  <% include ./../common/aside %>
</main>
<% include ./../common/footer %>
<% include ./../common/script %>
<script type="text/javascript" charset="utf-8">
  // スライドショーの設定
  $(window).load(function () {
    $('.flexslider').flexslider({
      directionNav: false,  // 左・右の矢印ボタンを表示しない
      slideshowSpeed: 5000  // 1枚のスライド画像を表示する秒数
    });
  });
</script>
</body>
</html>
