<%
var site_name = "すぐくる";
var css_main = "./../css/main.css";
var js_main = "./../js/main.js";
var js_plugins = "./../js/plugins.js";
var js_vendor = "./../js/vendor.js";
var siteRootUrl = "http://localhost:9000/";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../common/head %>
</head>
<body>
<% include ./../common/header %>
<% //include ./../common/nav    %>
<!-- flexslider -->
<div class="flexslider">
  <ul class="slides">
    <li><img src="./../img/slideImg/slide07.jpg" alt=""></li>
    <li><img src="./../img/slideImg/slide08.jpg" alt=""></li>
    <li><img src="./../img/slideImg/slide09.jpg" alt=""></li>
  </ul>
</div>
<!-- / flexslider -->
<main>
  <article>
    <div class="itemLists container-fluid boxList">
      <div class="itemList row">
        <!-- news -->
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4 news">
          <h2 class="itemList_item_head">NEWS</h2>
          <dl>
            <dt>2015.08.07</dt>
            <dd><a href="http://www.emme.jp/?p=1364">夏季・休業期間のお知らせ</a></dd>
            <dt>2015.05.01</dt>
            <dd><a href="http://www.emme.jp/?p=1351">NEWタンポナートシリーズ一部プライス　変更のお知らせ</a></dd>
            <dt>2015.04.28</dt>
            <dd><a href="http://www.emme.jp/?p=1344">GW休業日のお知らせ</a></dd>
          </dl>
        </div>
        <!-- / news -->
        <!-- オススメ商品 -->
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap recommend">
            <div class="itemList_item_head">オススメ商品01</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_01.jpg" alt="" class="img-responsive"/>
            </div>
            <div class="itemList_item_detail">
              <h3 class="itemList_item_name">『夜の木』レターセット ＜からみあう木＞</h3>
              <div class="itemList_item_price">Price：¥ 540</div>
            </div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap recommend">
            <div class="itemList_item_head">オススメ商品02</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_08.jpg" alt="" class="img-responsive"/>
            </div>
            <div class="itemList_item_detail">
              <h3 class="itemList_item_name">アラスカ文具店 図形レターセット（青・赤）</h3>
              <div class="itemList_item_price">Price：¥ 367</div>
            </div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="<%= siteRootUrl %>/view/items" class="itemList_item_newItemWrap textBtn">
            <div class="itemList_item_onlyText">全てのオススメ商品を見る</div>
          </a>
        </div>
        <!-- / オススメ商品  -->
        <!-- 新着商品 -->
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item01</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_01.jpg" alt="" class="img-responsive"/>
            </div>

            <div class="itemList_item_detail">
              <h3 class="itemList_item_name">『夜の木』レターセット ＜からみあう木＞</h3>

              <div class="itemList_item_price">Price：¥ 540</div>
            </div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap genre1">
            <div class="itemList_item_head">New Item02</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_02.jpg" alt="" class="img-responsive"/>
            </div>

            <h3 class="itemList_item_name">CHARKHA×nakaban 引き出すカード＆封筒</h3>

            <div class="itemList_item_price">Price：¥ 194</div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item03</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_03.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">こけし通信筒（菜の花）</h3>

            <div class="itemList_item_price">Price：¥ 558</div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item04</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_04.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">CHARKHA × nakaban レターセット（antibes）</h3>

            <div class="itemList_item_price">Price：¥ 1296</div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item05</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_05.jpg" alt="" class="img-responsive"/>
            </div>
            <div class="itemList_item_detail">
              <h3 class="itemList_item_name">CHARKHA × nakaban レターセット（late morning）</h3>

              <div class="itemList_item_price">Price：¥ 1296</div>
            </div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item06</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_06.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">武井武雄「鳥遣いの乙女」三つ折りカード+封筒セットA</h3>

            <div class="itemList_item_price">Price：¥ 972</div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item07</div>
            <div class="itemList_item_img">
              <img src="./../img/stationery/_07.jpg" alt="" class="img-responsive"/>
            </div>
            <h3 class="itemList_item_name">武井武雄「鳥遣いの乙女」三つ折りカード+封筒セットB</h3>

            <div class="itemList_item_price">Price：¥ 972</div>
          </a>
        </div>
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="<%= siteRootUrl %>/view/items" class="itemList_item_newItemWrap textBtn">
            <div class="itemList_item_onlyText">全ての新作商品を見る</div>
          </a>
        </div>
        <!-- / 新着商品 -->
      </div>
    </div>
    <!-- カテゴリ一覧 -->
    <div class="categoryLists container-fluid boxList">
      <div class="categoryList row">
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">鉛筆/色鉛筆</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">書道道具</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">油性マーカー</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">蛍光ペン</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">裁断機</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">ボールペン</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryList_item_wrap">
            <div class="categoryList_item_detail">
              <div class="categoryList_item_detail_title">リングノート</div>
              <div class="categoryList_item_detail_cnt">商品数：10</div>
            </div>
          </a>
        </div>
        <div class="categoryList_item boxList_item col-lg-3 col-md-3 col-sm-4 textBtn">
          <a href="<%= siteRootUrl %>/view/category" class="categoryList_item_wrap">
            <div class="categoryList_item_onlyText">全てのカテゴリを見る</div>
          </a>
        </div>
      </div>
    </div>
    <!-- / カテゴリ一覧 -->
  </article>
  <% // include ./../common/aside  %>
</main>
<% include ./../common/footer %>
<% include ./../common/script %>
<script type="text/javascript" charset="utf-8">
  // スライドショーの設定
  $(window).load(function () {
    $('.flexslider').flexslider({
      directionNav: false,  // 左・右の矢印ボタンを表示しない
      slideshowSpeed: 5000  // 1枚のスライド画像を表示する秒数
    });
  });
</script>
</body>
</html>
