<%
var site_name = "すぐくる";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../common/head %>
</head>
<body>
  <% include ./../common/header %>
  <% include ./../common/nav %>
  <main>
    <article>
      <h1>テスト</h1>
      <p>サンプル</p>
    </article>
    <% include ./../common/aside %>
  </main>
  <% include ./../common/footer %>
  <% include ./../common/script %>
</body>
</html>
