<header class="cf">
  <div>
    <h1><%= site_name %></h1>
  </div>
  <div>
    <div class="cf">
      <form action="">
        <input type="text" name="email">
        <button type="submit">検索</button>
      </form>
    </div>
    <div class="cf">
      <div>

      </div>
      <div>

      </div>
    </div>
  </div>
</header>
