<header>
  <div class="header_titleLogo">
    <h1><%= site_name %></h1>
  </div>
  <div class="header_form">
    <form action="">
      <input type="text" name="email">
      <button type="submit">検索</button>
    </form>
  </div>
  <div class="header_login">
    <span class="header_login_icon">
    <i class="fa fa-user"></i>
    </span>
    <span class="header_login_text">ログイン</span>
  </div>
  <div class="header_cart">
    <span class="header_cart_icon">
    <i class="fa fa-cart-plus"></i>
      </span>
  </div>
</header>
