<%
var siteRootUrl = "http://localhost:9000/";
%>
<footer class="footer clearfix">
  <img src="<%= siteRootUrl %>img/sugukuru.png" alt="" class="footer_logo" />
  <div class="footer_nav">
    <ul>
      <li><a href="">ホーム</a></li>
      <li><a href="">支払い・配送・返品について</a></li>
      <li><a href="">特定商取引法に基く表記</a></li>
      <li><a href="">お問い合わせ</a></li>
    </ul>
  </div>
</footer>
