<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="header_titleLogo col-md-3">
        <h1><img src="../img/sugukuru.png" alt="すぐくる"></h1>
      </div>
      <div class="header_form col-md-3">
        <form action="">
          <input type="text" name="email">
          <button type="submit">検索</button>
        </form>
      </div>
      <div class="header_login col-md-4">
    <span class="header_login_icon">
    <i class="fa fa-user"></i>
    </span>
        <span class="header_login_text">ログイン</span>
      </div>
      <div class="header_cart col-md-2">
    <span class="header_cart_icon">
    <i class="fa fa-cart-plus"></i>
      </span>
      </div>
    </div>
  </div>
</header>
