<meta charset="UTF-8">
<title><%=site_name%></title>
<link rel="stylesheet" href="<%=css_main%>">

<!--font-awesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">