<%
var site_name = "すぐくる";
var css_main = "./../../../css/main.css";
var js_main = "./../../../js/main.js";
var js_plugins = "./../../../js/plugins.js";
var js_vendor = "./../../../js/vendor.js";
var siteRootUrl = "http://localhost:9000/";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../../../common/head %>
</head>
<body>
<% include ./../../../common/header %>
<% //include ./../common/nav    %>
<main>
  <article>
    <div class="item boxList container-fluid">
      <div class="row">
        <!-- 商品イメージ -->
        <div class="item_img boxList_item col-lg-5 col-md-5 col-sm-5">
          <div class="item_img_main">
            <img src="<%= siteRootUrl %>/img/stationery/_08.jpg" alt="" class="img-responsive">

            <div class="container-fluid">
              <div class="row">
                <div class="item_img_small col-lg-4 col-md-4 col-sm-4">
                  <img src="<%= siteRootUrl %>/img/stationery/_detail01.jpg" alt="" class="img-responsive">
                </div>
                <div class="item_img_small col-lg-4 col-md-4 col-sm-4">
                  <img src="<%= siteRootUrl %>/img/stationery/_detail02.jpg" alt="" class="img-responsive">
                </div>
                <div class="item_img_small col-lg-4 col-md-4 col-sm-4">
                  <img src="<%= siteRootUrl %>/img/stationery/_detail03.jpg" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / 商品イメージ -->
        <!-- 商品詳細 -->
        <div class="item_detail col-lg-7 col-md-7 col-sm-7">
          <div class="item_detail_title">
            アラスカ文具店 図形レターセット（青・赤）
          </div>
          <div class="item_detail_price">
            税込 ￥367 <span class="noneTax">（税抜￥340）</span>
          </div>
          <div class="item_detail_info">
            <p>
            岐阜県は柳ケ瀬商店街にあるアラスカ文具店のオリジナル文房具「図形レターセット」。
            六角形の便箋と、三角形の封筒がセットになっています。
            対角線に沿って便箋を折れば、三角の封筒のなかに収まるしかけ。
            便箋は無地なので、文字はもちろんイラストも自由に書き込めます。
            図形の面白さ、数学の美しさを身近な文房具に取り入れた素晴らしい一品で、
            便箋が封筒にぴったりと収まる様は、単純ながらも感覚的な楽しさを呼び起こしてくれるでしょう。
            数学に親しみはじめたお子様や、理系のあの人への贈りものとしても喜ばれそう。
            </p>
          </div>
          <dl class="item_detail_category">
            <dt>カテゴリ</dt>
            <dd>書類</dd>
          </dl>
          <dl class="item_detail_place">
            <dt>原産地</dt>
            <dd>日本</dd>
          </dl>
          <dl class="item_detail_size">
            <dt>サイズ</dt>
            <dd>W11.5×H9.5×D.2</dd>
          </dl>
          <div class="item_cart">
            <form action="">
              <div class="item_cart_cntWrap">
                <input type="button" value="-" id="minus1" class="item_cart_form_minus">
                <input type="text" name="cnt" value="1" id="qty" class="item_cart_form_qty">
                <input type="button" value="+" id="plus1" class="item_cart_form_plus">
              </div>
              <input type="submit" value="カートに入れる" class="item_cart_submit">
            </form>
          </div>
        </div>
      </div>
      <!-- / 商品詳細 -->
    </div>
  </article>
  <% // include ./../common/aside      %>
</main>
<% include ./../../../common/footer %>
<% include ./../../../common/script %>
</body>
</html>
