<%
var site_name = "すぐくる";
var css_main = "./../../css/main.css";
var js_main = "./../../js/main.js";
var js_plugins = "./../../js/plugins.js";
var js_vendor = "./../../js/vendor.js";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../../common/head %>
</head>
<body>
<% include ./../../common/header %>
<% //include ./../common/nav   %>
<main>
  <article>
    <!--  新着商品  -->
    <div class="itemLists boxList container-fluid">
      <div class="itemLists_head">
        <div class="itemLists_head_title">
          カテゴリ一覧
        </div>
      </div>
      <div class="itemList row">
        <div class="itemList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="itemList_item_newItemWrap">
            <div class="itemList_item_head">New Item01</div>
            <div class="itemList_item_img">
              <img src="./../../img/stationery/_01.jpg" alt="" class="img-responsive"/>
            </div>

            <div class="itemList_item_detail">
              <h3 class="itemList_item_name"></h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--  / 新着商品  -->
  </article>
  <% // include ./../common/aside %>
</main>
<% include ./../../common/footer %>
<% include ./../../common/script %>
</body>
</html>
