@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$allSeeBtnColor: #D7E5EA;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  //padding-top: 20px;
  //padding-bottom: 20px;
}

.header {
  //padding-bottom: 20px;
}

.footer {
  //padding-top: 19px;
  //border-top: 1px solid #e5e5e5;
}

.row {
  margin: 0;
  padding: 0;
}

.figure {
  padding-left: 20px;

  figcaption {
    margin-top: 15px;
  }
}

.jumbotron {
  text-align: center;
  background: url(./../images/jumbotron.jpg);
  color: #fff;
}

.header {
  &_bg {
    background-color: #2C2C2C;
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0;
  }
  &_titleLogo {
    h1 {
      margin: 0;
    }

    img {
      width:auto;
      height:74px;
    }
    &.navbar-brand {
      padding: 0;
      height: 74px;
    }
  }

  &_form {
    margin-top: 19px;
  }

  &_nav {
    &_item {
      text-align: center;

      & > a {
        color: #fff !important;
      }
    }
    &_icon {
      i {
        padding-bottom: 4px;
        font-size: 18px;
      }
    }
  }
}

.boxList {
  padding: 0;

  > .row {
    padding: 0;
  }
  &_item {
    padding: 0;
  }
}
.itemLists {
  &_head {
    background-color: #383CA2;

    &_title {
      padding: 8px 0 8px 1%;
      letter-spacing: 0.1em;
      font-size: 14px;
      color: #E5E5E5;
    }
  }
}
.itemList {
  &_item {
    position: relative;
    padding: 0;
    list-style: none;
    text-align: center;
    min-height: 300px;  //jQueryかけたら後で消す
    max-height: 300px;

    a {
      text-decoration: none;
      color: #010101;
      display: block;
      transition: all ease 0.3s;
    }

    &_newItemWrap {
      //display: block;
      min-height: 300px;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      transition: all ease 0.3s;

      /* おすすめ商品 */
      &.recommend::after {
        background-color: rgba(110, 113, 168, 0.2);
      }

      /* おすすめ商品 */
      &.genre1::after {
        background-color: rgba(168, 157, 106, 0.2);
      }

      /* おすすめ商品 */
      &.genre2::after {
        background-color: rgba(160,200,204,0.1);
      }

      /* ~の商品を見る */
      &.textBtn::after {
        background-color: $allSeeBtnColor;
      }
    }

    &_newItemWrap::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(170,170,150,0.2);
      position: absolute;
      top: 0;
      left: 0;
      transition: all ease 0.3s;
      z-index: 1;


    }

    &_newItemWrap:hover::after {
      background: rgba(255,255,255,0) !important;
    }

    &_head {
      position: absolute;
      font-size: 14px;
      font-style: italic;
      top: 7%;
      left: 5%;
      padding-right: 1em;
      letter-spacing: 0.1em;
      z-index: 2;
      font-weight: bold;
    }

    h2 {
      position: absolute;
      margin: 0;
      font-size: 16px;
      font-style: italic;
      top: 7%;
      left: 5%;
      padding-right: 1em;
      letter-spacing: 0.1em;
    }
    &_checkNow {
      position: absolute;
      font-size: 15px;
      font-style: italic;
      top: 7%;
      right: 4%;
    }

    &_caption {
      position: absolute;
      bottom: 0;
    }

    &_img {
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-55%);
      -ms-transform: translate(-50%,-55%);
      transform: translate(-50%,-55%);
      z-index: -2;
    }

    &_name {
      position: absolute;
      font-size: 14px;
      text-align: center;
      bottom: 7%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0 10px;
      z-index: 2;
    }

    img.recommendImg {
      position: absolute;
      top: 50%;
      left: 0%;
      z-index: -1;
      transform: translate(0,-55%);
    }

    &_price {
      display: none;
    }

    &_onlyText {
      position: absolute;
      top: 50%;
      text-align: center;
      width: 100%;
      margin-top: -0.5em;
      z-index: 2;
    }

    &.news {
      text-align: left;
      padding: 2%;
      background: #e7e7e7;

      a {
        text-decoration: underline;
        color: #278aef;
      }

      h2 {
        position: static;
        font-size: 16px;
        font-style: italic;
        padding-right: 1em;
        letter-spacing: 0.1em;
        color: #010101;
      }
      dl {
        font-size: 12px;
        font-style: italic;
        padding-right: 1em;
        letter-spacing: 0.1em;
        color: #010101;
      }

      dl, dt {
        margin: 10% 0 2%;
      }
    }
  }
}
.categoryList {
  &_item {
    height: 100px;
    transition: all ease 0.3s;
    &:nth-child(odd) {
      background: #f3f4f4;
    }
    &:nth-child(even) {
      background: #FCFCF4
    }
    &.textBtn {
      background: $allSeeBtnColor;
    }

    &_wrap {
      display: table;
      width: 100%;
      height: inherit;
    }
    &_detail {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      &_title {
        font-size: 16px;
        letter-spacing: 0.2em;
      }
      &_cnt {
        display: none;
      }
    }
    &_onlyText {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: #525252;

      &:hover {
        background: #fff;
        transition: all ease 0.3s;
      }
    }
  }
}

.categoryBigList {
  &_item {
    min-height: 300px;
    & div {
      transition: all ease 0.5s;
    }
    &:nth-child(odd) {
      background: #f3f4f4;
    }
    &:nth-child(even) {
      background: #FCFCF4
    }
    &:hover {
      & div {
        font-size: 20px;
        color: #fff;
        letter-spacing: 1em;
        transition: all ease 0.8s;
      }
    }
    &:hover:nth-child(odd) {
      background: rgba(136, 147, 244, 0.7);
      transition: all ease 1.2s;
    }
    &:hover:nth-child(even) {
      background: rgba(239, 143, 133, 0.7);
      transition: all ease 1.2s;
    }
    &_wrap {
      position: relative;
      display: block;
      height: inherit;
      min-height: 300px;

    }

    &_detail {
      position: absolute;
      top: 50%;
      margin-top: -1em;
      width: 100%;
      text-align: center;
      &_title {
        font-size: 18px;
        color: #4D4D4D;
        letter-spacing: 0.3em;
      }
    }

    &_img {
      width: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%,-55%);
    }
  }
}

.item {
  &_detail {
    padding: 0 3%;
    background-color: #f6f6f6;
    &_title {
      margin-top: 30px;
      font-size: 30px;
      font-weight: normal;
      padding-bottom: 12px;
      border-bottom: 2px #d3d3d3 solid;
    }
    &_price {
      margin-top: 29px;
      font-size: 30px;
      font-weight: bold;
      color: #b10202;
    }
    &_info {
      margin-top: 34px;
      line-height: 1.8;
    }

    dt {
      font-size: 15px;
      margin-top: 20px;
      color: #5c5b5b;
      padding-bottom: 15px;
      font-weight: bold;
      letter-spacing: -0.05em;
    }
    dl {
      font-size: 16px;
      color: #0f0f0f;
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
      font-weight: bold;
      padding-bottom: 8px;
      border-bottom: 2px #d3d3d3 solid;
    }
  }
  &_cart {
    &_form {
      &_qty {
        margin-left: 10px;
        width: 58px;
        height: 49px;
        border: 2px solid #020202;
        font-size: 21px;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
}

.footer {
  background: #303030;

  &_logo {
    margin: 34px 0 22px 27px;
    width: 200px;
    float: left;
  }

  &_nav {
    margin-top: 50px;
    padding-left: 13%;
    overflow: hidden;
    ul {
      margin: 0;
      padding: 0;
      
      li {
        float: left;
        list-style: none;
        margin-right: 3%;

        a {
          color: #fff;
          font-size: 12px;

          &:hover {
            text-decoration: none;
            color: #9e9e9e;
          }
        }
      }
    }
  }
}

.flexslider {
  border: 0px !important;
  margin: 0 !important;
}

.flex-control-nav {
  bottom: 3% !important;
  width: inherit !important;
  left: 1%;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    &_nav {
      padding-left: 5%;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &_nav {
      display: none;
    }
  }
}