@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  //padding-top: 20px;
  //padding-bottom: 20px;
}

.header {
  padding-bottom: 20px;
}

.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

.row {
  margin: 0;
  padding: 0;
}

.figure {
  padding-left: 20px;

  figcaption {
    margin-top: 15px;
  }
}

.jumbotron {
  text-align: center;
  background: url(./../images/jumbotron.jpg);
  color: #fff;
}

.header {
  &_bg {
    background-color: #2C2C2C;
  }
  &_titleLogo {
    h1 {
      margin: 0;
    }

    img {
      width:auto;
      height:74px;
    }
    &.navbar-brand {
      padding: 0;
      height: 74px;
    }
  }

  &_form {
    margin-top: 19px;
  }

  &_nav {
    &_item {
      text-align: center;

      & > a {
        color: #fff !important;
      }
    }
    &_icon {
      i {
        padding-bottom: 4px;
        font-size: 18px;
      }
    }
  }
}


.itemList {
  padding: 0;
  &_item {
    list-style: none;
    text-align: center;
  }
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
  }
}
