<%
var site_name = "テストサイト";
%>
<!DOCTYPE html>
<html lang="ja">
  <% include ./../../common/_head %>
  <body>
    <% include ./../../common/_header %>
    <% include ./../../common/_nav %>
    <main>
      <article>
        <h1>テスト</h1>
        <p>サンプル</p>
      </article>
      <% include ./../../common/_aside %>
    </main>
    <% include ./../../common/_footer %>
  </body>
  <% include ./../../common/_script %>
</html>
