<%
var site_name = "すぐくる";
var css_main = "./../../css/main.css";
var js_main = "./../../js/main.js";
var js_plugins = "./../../js/plugins.js";
var js_vendor = "./../../js/vendor.js";
%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <% include ./../../common/head %>
</head>
<body>
<% include ./../../common/header %>
<% //include ./../common/nav     %>
<main>
  <article>
    <!--  新着商品  -->
    <div class="categoryBigLists boxList container-fluid">

      <div class="categoryBigList row">
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">鉛筆/色鉛筆</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_01.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">書道道具</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_02.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">油性マーカー</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_03.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">蛍光ペン</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_04.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">裁断機</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_05.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">ボールペン</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_06.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">リングノート</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_07.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">シャープペン</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_08.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">鉛筆/色鉛筆</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_01.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">書道道具</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_02.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">油性マーカー</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_03.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">蛍光ペン</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_04.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">裁断機</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_05.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">ボールペン</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_06.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">リングノート</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_07.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
        <div class="categoryBigList_item boxList_item col-lg-3 col-md-3 col-sm-4">
          <a href="#" class="categoryBigList_item_wrap">
            <div class="categoryBigList_item_detail">
              <div class="categoryBigList_item_detail_title">シャープペン</div>
            </div>
            <div class="categoryBigList_item_img">
              <img src="./../../img/stationery/_08.jpg" alt="" class="img-responsive"/>
            </div>
          </a>
        </div>
      </div>


    </div>
  </article>
  <% // include ./../common/aside   %>
</main>
<% include ./../../common/footer %>
<% include ./../../common/script %>
</body>
</html>
